
@{ 
    ViewBag.Title = "Student Index";
}

<h2>Student Index page</h2>

@{ 
    int jetsScore = 5;
    int nashvilleScore = 3; 
}

<p> Winnipeg Jets score: @jetsScore Nashville Predators score: @nashvilleScore</p>

